@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url('../backg.png');
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 5px;
}

.espacinho {
  
    font-size: 20px;
}

h1 {
    color: #FD9D24;
    padding: 1em;
    font-size:x-large;
    }



.icones {
    font-size: 30px;
}

.fomrs {
   display: flex;
   margin-top: 10em;
   align-items: center;
   justify-content: center;
}

.fomrs2 {
    margin-top: 10em;
    align-items: center;
    justify-content: center;
 }

.novoSpanExemplo{
    margin-left: 1em;
    font-size: small;
    align-items: center;
}


.flexbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}


.flexmenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    flex-direction: column;
    align-items: center;
}

.listBlock {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 40px;
    margin: 2rem;
    transition: all 0.2s ease-in-out 0s;
    padding: 15px;
}

.linhacadastro {
    display: flex;
    flex-direction: row;
}

.letras{
    font-size:2em;
}

.borda{
    border-width: 1px;
    border-style: solid;
    border-color: #FD9D24;
    border-image: initial;
    border-radius: 10px;
}

.cor {
    color: #FD9D24
}

.icones {
    padding: 2em;
}

.letrinhas {
    font-size: 20px;
}
.letramenu {
    font-size: 20px;
}

#menu-h {
    background-color: #FD9D24;
}

#menu-h ul {
    max-width: 1200px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

/*
#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}*/
.alert {
    max-width: 350px;
    padding: .5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
}

.alert.success{
    background-color: #2ecc71;
    color: var(--bg);

}

.hide {
    display: none;
}

.texto {
    background-image:
        linear-gradient(transparent 0%, transparent 90%, rgb(246, 246, 133) 90%, rgb(24, 139, 233) 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.texto:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.buttons .button {
    flex-grow: 1;
    text-align: center;
}

.button {
    background: var(--primary);
    box-shadow: 0px 0px 6px var(--primary);
    border-radius: 5px;
    color: #3b270e;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: solid;
    cursor: pointer;
    font-weight: bold;
}